h1 {
    width: 80vw;
    text-align: center;
    margin: auto;
    padding: 3rem;
    background-color: bisque;
}

article {
    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 2rem;
}

section {
    background-color: blanchedalmond;
    margin: 0.5rem;
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input {
    background-color: white;
    grid-column: 2/3;
}

label,
textarea {
    margin: 0.5rem;
}

button {
    margin: 0.5em;
    padding: 0.5em;
    font-size: large;
    font-weight: 600;
    color: white;
    background-color: #ffc400;
}

footer {
    text-align: center;
}

@media(max-width: 970px){
    article {
        display: flex;
        flex-direction: column;
    }
}