<<<<<<< HEAD
body {display: grid;
    /* background-image: linear-gradient( grey, lightgrey); */
    background-image: url(./avion.webp);
    background-repeat: no-repeat;
    background-size: cover;
    
}

article{display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 40px;
}

#titlu{display: grid;

}

h1{ display: grid;
grid-column-start: 4;
grid-column-end: 4;
text-decoration: underline;}

#subject{height:200px;
width: 50rem;
}
button{display: flex;
width: 4rem;
align-items: flex-end;
justify-content: flex-end;
 margin-left: 46.5rem ;
background-color: lightgoldenrodyellow;}

p{word-spacing: 7px;
font-weight: bold;
font-size: 120%;
background-color: whitesmoke;
font-family: 'Andada Pro', serif;}

=======
h1 {
    width: 80vw;
    text-align: center;
    margin: auto;
    padding: 3rem;
    background-color: bisque;
}

article {
    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 2rem;
}

section {
    background-color: blanchedalmond;
    margin: 0.5rem;
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input {
    background-color: white;
    grid-column: 2/3;
}

label,
textarea {
    margin: 0.5rem;
}

button {
    margin: 0.5em;
    padding: 0.5em;
    font-size: large;
    font-weight: 600;
    color: white;
    background-color: #ffc400;
}

footer {
    text-align: center;
}

@media(max-width: 970px){
    article {
        display: flex;
        flex-direction: column;
    }
}
>>>>>>> ab3d96904e685b97bd588fba20526b47e243341a
